{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "^@",
    "\\.(png|jpe?g|gif|svg|webp)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "cva",
    "cx",
    "cn"
  ]
}