version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: cloudcraft-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - web
      - server
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: cloudcraft-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - app-network

  web:
    image: ${WEB_IMAGE_NAME}:${IMAGE_TAG:-latest}
    container_name: cloudcraft-web
    env_file:
      - .env
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    depends_on:
      - server

  server:
    image: ${SERVER_IMAGE_NAME}:${IMAGE_TAG:-latest}
    container_name: cloudcraft-server
    env_file:
      - .env
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
